<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A web Page</title>
</head>
<body>
  <div>
    <h1>Here are some delicious foods!</h1>
  </div>
</body>
</html>